body {
    background-image: url("../img/background.jpg");
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
#search {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
.center {
    left: 50%;
    top: 0%;
    position: absolute;
    transform: translate(-50%, 0%);
}
.searchform{
    left: 50%;
    top: 20%;
    position: absolute;
    transform: translate(-50%, 0%);
}

